#footer #footer-main{
	padding: 60px 0;
}
.page-head {
	border-bottom: 1px solid #dedede;
	margin-bottom: 20px;
	height: 200px;
}

#header .logo-wrapper{
	margin-top: 50px;
}


.header-bg{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	z-index: -1;
}


@media (max-width: 1200px) {
	.page-head{
		height: 150px;
	}

	.side-header .head-main{
		line-height: 80px;
	}

	.side-header #header .logo-wrapper{
		width: 50%;
		max-width: none;
		margin-top: 0;
	}

	.side-header .ol-user-profile{
		padding: 0;
		text-align: left;
	}

	.side-header .ol-user-profile .avatar{
		margin: 0;
		width: auto;
		height: auto;
		float: left;
	}

	.side-header .ol-user-profile .avatar img{
		width: 50px;
		height: auto;
		max-height: none;
	}

	.side-header .ol-user-profile .title{
		margin-left: 60px;
		font-size: 14px !important;
		line-height: 80px;
	}

	.side-header .ol-user-profile .subtitle{
		display: none;
	}
	.header-bg{
		display: none;
	}
}

